.position-left {
    margin-right: 5%;
}

.text-black {
    color: black;
}

.text-white {
    color: white;
}
.navbar-dark {
    background-color: #45526e;
}
.text-font-comic {
    color: black;
    font-family: 'Comic Sans MS', 'Comic Sans', 'cursive';
    pointer-events: none;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans);

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.card-body-dark {
    background-color:#6b6b6b;
}

.searchTerm {
  width: 100%;
  border: 3px solid #343e54;
  border-right: none;
  padding: 5px;
  height: 36px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #343e54;
}

.btn-primary-dark {
    background-color: #343e54;
}



.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #343e54;
  background: #343e54;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  position: absolute;
  top: 50%;
  left: 48%;
  width: 65%;
  margin-left: auto;
  margin-right: auto;
  transform: translate(-50%, -50%);
}

.homepage-card {
    align-self: center; 
    height: 100%;
}
.home-card-title {
    text-align: center
}

.button-full-width {
    width: 100%;
}

.row-height {
    /* height: 100%; */
    flex: 1;
}

.soft-grey-background {
    background-color: #e3e3e3
}

html, body {
    overflow: auto;
}
.text-green {
    color: green;
}

.allign-right {
    float: right;
}

.text-red {
    color: red;
}

.text-float {
    float: left;
    border: 3px solid #343e54;
}

.p-text {
    display: inline;
}

.datalist-theme {
    width: 100%;
    background-color: #fff; 
}